@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */

@font-face {
  font-family: "Urbane";
  src: url("./assets/fonts/Urbane/Urbane-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
