@layer tailwind-base, mas-custom-styles;
@layer tailwind-base {
  @tailwind base;
}

@tailwind utilities;

/* global css */

@font-face {
  font-family: "Urbane";
  src: url("./assets/fonts/Urbane/Urbane-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@layer mas-custom-styles {
  .default-input {
    @apply border-secondary border border-solid outline-0
          hover:border-tertiary focus:border-brand focus:text-neutral 
          bg-secondary 
          placeholder-tertiary text-tertiary 
          rounded-lg h-12 pl-3 pr-10;
  }

  .default-input:not([value=""]) {
    @apply border-brand text-neutral;
  }

  .default-button {
    @apply rounded-lg mas-buttons h-12 border border-c-default;
  }
}
